<div id="header">
  <div class="content">
    <div class="logo"><a href="/"></a></div>
    <div class="menu">
      <ul>
        <li>
          <a class="item" href="/number"><span class="icon num"></span>Числа</a>
        </li>
        <li class="submenu">
          <span class="item"
            ><span class="icon win"></span>Определить победителя</span
          >
          <ul>
            <li>
              <a class="item" href="/winvk/"
                ><span class="icon winvk"></span>
                <span class="name-d">во Вконтакте</span>
                <span class="name-m">Определить победителя</span>
              </a>
            </li>
            <li>
              <a class="item" href="/wintg/"
                ><span class="icon wintg"></span>
                <span class="name-d">в Телеграм</span>
                <span class="name-m">Определить победителя</span>
              </a>
            </li>
            <li>
              <a class="item" href="/winig/"
                ><span class="icon winig"></span>
                <span class="name-d">в Инстаграм</span>
                <span class="name-m">Определить победителя</span>
              </a>
            </li>
          </ul>
        </li>
                <li>
          <a class="item" href="/password"
            ><span class="icon pass"></span>Пароли</a
          >
        </li>
        <li>
          <a class="item sm" href="/wheel"
            ><span class="icon wheel"></span>Колесо фортуны</a
          >
        </li>
        <li>
          <a class="item" href="/question"
            ><span class="icon qu"></span>Вопросы</a
          >
        </li>
        <li>
          <a class="item" href="/ticket"
            ><span class="icon tick"></span>Счастливые билеты</a
          >
        </li>
                <li>
          <a class="item" href="/saying"
            ><span class="icon say"></span>Мудрости</a
          >
        </li>
        <li>
          <a class="item" href="/ask"
            ><span class="icon ask"></span>Ответы и предсказания</a
          >
        </li>


        <li>
          <a class="item" href="/fact"><span class="icon fact"></span>Факты</a>
        </li>
        <li>
          <a class="item" href="/doings"
            ><span class="icon doings"></span>Чек-лист <br />дел жизни</a
          >
        </li>

        <li>
          <a class="item" href="/account/signin"
            ><span class="icon profile"></span>Личный кабинет</a
          >
        </li>
      </ul>
    </div>
    <div class="menu-init"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const currentPath = window.location.pathname.replace(/\/+$/, "");
    const links = document.querySelectorAll("#header .menu a.item");

    links.forEach((link) => {
      const linkPath = new URL(
        link.href,
        window.location.origin,
      ).pathname.replace(/\/+$/, "");

      if (currentPath === linkPath) {
        link.classList.add("sel");

        const submenu = link.closest(".submenu");
        if (submenu) {
          const parentSpan = submenu.querySelector(":scope > span.item");
          if (parentSpan) {
            parentSpan.classList.add("sel");
          }
        }
      }
    });
  });
</script>
