{% load static %}      
<div id="cboxOverlay" style="display:none"></div>
<div id="colorbox" role="dialog" tabindex="-1" style="display:none"></div>
<div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible sf-hidden"></div>
<div style="position:fixed;left:-99px">
    <div id="c8f1034427"><iframe frameborder="no" scrolling="no" allowtransparency="true" hidefocus="true"
            tabindex="-1" marginwidth="0" marginheight="0" style="opacity:1" id="id5281"
            sandbox="allow-popups allow-top-navigation-by-user-activation"
            src="{% static 'frames/0/index.html' %}"></iframe></div>
</div>
<single-file-infobar
    style="all: initial !important; direction: initial !important; unicode-bidi: initial !important;"></single-file-infobar>