html,
body {
    height: 100%
}

body {
    background: #fff;
    color: #000;
    font: 14px/20px"Open Sans", sans-serif;
    padding: 0 !important
}

a {
    color: #b30000
}

a:hover {
    text-decoration: none
}

:focus {
    outline: 0
}

input:invalid {
    box-shadow: none;
    outline: none
}

#wrapper {
    position: relative;
    min-height: 100%;
    background: url("../../images/14.png")
}

#header {
    position: relative;
    background: url("../../images/15.png")center top repeat-x;
    z-index: 2
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../images/16.png")center bottom repeat-x;
    z-index: 1
}

#page {
    position: relative;
    padding: 20px 20px 80px;
    text-align: center;
    text-shadow: 0 1px 0#fff;
    overflow: hidden
}

#extra {
    padding: 20px 0 0;
    text-align: center;
    text-shadow: 0 1px 0#fff
}

.content {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

.content:after {
    display: table;
    clear: both;
    content: ""
}

#header .content {
    padding: 0 0 4px
}

#header .logo {
    float: left;
    width: 146px;
    height: 90px
}

#header .logo a {
    display: block;
    width: 156px;
    height: 94px;
    background: url("../../images/17.png")
}

#header .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
}

#header .menu li {
    display: inline-block;
    text-align: center;
    vertical-align: middle
}

#header .menu .item {
    display: block;
    width: 88px;
    height: 92px;
    color: #fff;
    font: 13px/16px"Open Sans";
    text-decoration: none;
    text-shadow: 0 1px 0#000;
    vertical-align: top;
    cursor: pointer
}

@media screen and (max-width:1200px) {
    #header .menu .item {
        width: 85px
    }
}

#header .menu .item.sm {
    width: 77px
}

#header .menu .item.sel,
#header .menu .item:hover,
#header .menu .submenu:hover>.item {
    color: #efbf51
}

#header .menu .item .icon {
    display: block;
    width: 52px;
    height: 45px;
    margin: 0 auto;
    background: url("../../images/18.png")no-repeat
}

#header .menu .item .win {
    background-position: -52px 0
}

#header .menu .item .pass {
    background-position: -208px 0
}

#header .menu .item .ask {
    background-position: -260px 0
}

#header .menu .item .qu {
    background-position: -312px 0
}

#header .menu .item .tick {
    background-position: -364px 0
}

#header .menu .item .fact {
    background-position: -416px 0
}

#header .menu .item .doings {
    background-position: -468px 0
}

#header .menu .item .say {
    background-position: -520px 0
}

#header .menu .item .profile {
    background-position: -572px 0
}

#header .menu .item .wheel {
    background-position: -736px 0
}

#header .menu .item.sel .num,
#header .menu .item:hover .num {
    background-position: 0-52px
}

#header .menu .item.sel .win,
#header .menu .submenu:hover .item .win {
    background-position: -52px -52px
}

#header .menu .item.sel .pass,
#header .menu .item:hover .pass {
    background-position: -208px -52px
}

#header .menu .item.sel .ask,
#header .menu .item:hover .ask {
    background-position: -260px -52px
}

#header .menu .item.sel .qu,
#header .menu .item:hover .qu {
    background-position: -312px -52px
}

#header .menu .item.sel .tick,
#header .menu .item:hover .tick {
    background-position: -364px -52px
}

#header .menu .item.sel .fact,
#header .menu .item:hover .fact {
    background-position: -416px -52px
}

#header .menu .item.sel .doings,
#header .menu .item:hover .doings {
    background-position: -468px -52px
}

#header .menu .item.sel .say,
#header .menu .item:hover .say {
    background-position: -520px -52px
}

#header .menu .item.sel .profile,
#header .menu .item:hover .profile {
    background-position: -572px -52px
}

#header .menu .item.sel .wheel,
#header .menu .item:hover .wheel {
    background-position: -736px -52px
}

#header .menu .submenu {
    position: relative
}

@media screen and (max-width:1159px) {
    #header .menu {
        display: none;
        padding-top: 90px
    }

    #header .menu ul {
        padding: 10px 0 0;
        background: url("../../images/19.png")
    }

    #header .menu .submenu>.item {
        display: none
    }

    #header .menu .item {
        width: 92px
    }
}

#footer .share {
    float: left;
    height: 45px;
    padding: 2px 0 0 10px
}

#footer .share .title {
    margin: 0;
    color: #fff;
    font-size: 12px
}

#footer .share .yashare {
    background: #fff;
    border-radius: 4px;
    padding: 4px 8px
}

#footer .contacts {
    position: relative;
    float: right;
    height: 60px
}

#footer .contacts .title {
    margin: 2px 20px 0 0;
    color: #fff;
    font-size: 12px
}

#footer .contacts .widget {
  position: absolute;
  right: 20px;
  bottom: 6px;
  width: 146px;
  height: 24px;
  padding: 4px 8px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  overflow: hidden;
  transition: all .2s ease-out;
}


#footer .contacts .widget .widget-fix {
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
	color: #000;
}
#footer .contacts .widget .widget-fix img {
	width: 24px;
	height: 24px;
	margin-right: 8px;
	border-radius: 24px;
}
#footer .contacts .widget .widget-fix span {
	vertical-align: top;
}



#footer .support {
    position: absolute;
    left: 50%;
    top: 25px;
    width: 150px;
    margin-left: -75px;
    text-align: center;
    font-size: 12px;
    line-height: 14px
}

#footer .support a {
    color: #fff
}

#footer .support i {
    color: #fff;
    position: relative;
    top: 1px;
    left: 1px
}

@media screen and (max-width:1159px) {
    #footer .share .yashare {
        padding: 0;
        background: none
    }

    #footer .contacts .widget {
        display: none
    }
}

@media screen and (max-width:768px) {
    #footer .share .ya-share2 {
        transform: scale(0.75);
        margin-left: -20px
    }

    #footer .support {
        top: 15px;
        width: 100px;
        margin-left: -50px;
        font-size: 11px
    }
}

#caption {
    margin: 0 auto 20px;
    max-width: 800px;
    font: 30px/34px"Open Sans"
}

#button {
    position: relative;
    width: 280px;
    height: 80px;
    margin: 0 auto;
    background: url("../../images/20.png")left top no-repeat;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

#button:active,
#button.active {
    background-position: left bottom
}

#description {
    position: relative;
    padding-top: 10px;
    line-height: 25px
}

.ui-slider-horizontal {
    position: relative;
    width: 260px;
    background: url("../../images/21.png")top left no-repeat
}

.ui-slider-range {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 11px;
    background: url("../../images/22.png")top left no-repeat;
    z-index: 1
}

.ui-slider-handle {
    position: absolute;
    top: -6px;
    width: 22px;
    height: 24px;
    margin-left: -11px;
    background: url("../../images/23.png")top left no-repeat;
    cursor: pointer;
    z-index: 2
}

#slider {
    display: block;
    margin: 8px auto 5px;
    height: 11px
}

#slider-val {
    display: block;
    margin: 5px auto 8px;
    height: 20px
}

#number.single {
    position: relative;
    margin: -10px auto 0;
    padding-bottom: 40px;
    font: 96px/normal"Open Sans";
    overflow: hidden
}

#number-from label {
    cursor: pointer
}

#number-from label input {
    position: relative;
    top: 2px;
    margin-right: 5px
}

#number-from label.sel span {
    border-bottom: 1px dashed #000
}

#number-from ul {
    margin: 0;
    padding: 0;
    list-style: none
}

#number-from ul li.sel {
    display: block
}

#number-start,
#number-end {
    width: 74px;
    height: 16px;
    margin: 9px 5px;
    padding: 4px 3px 5px;
    background: url("../../images/24.png");
    border: solid 1px #b6b6b6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0#fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 0#fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 1px 0#fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 1px 0#fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0#fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    color: #000;
    font: 14px/16px"Open Sans";
    vertical-align: middle
}

#number-start:focus,
#number-end:focus,
#number-list:focus {
    background: #fff
}

#number-unique {
    height: 25px
}

#number-exclude {
    margin-top: -3px
}

#number-exclude label {
    display: block
}

#number-exclude input {
    position: relative;
    top: -1px;
    margin: 0 0 0 12px;
    vertical-align: middle
}

#number-save {
    position: relative;
    height: 20px;
    margin: -15px 0 20px
}

#number-save a {
    position: relative;
    top: -15px
}

#number-app a {
    padding-right: 24px;
    background: url("../../images/25.png")right 2px no-repeat;
    color: #000
}

#number-api span {
    border-bottom: dashed 1px #b30000;
    color: #b30000;
    cursor: pointer
}

#number-api span:hover {
    border-bottom: solid 1px transparent
}

@media screen and (max-width:1159px) {
    #number.single {
        font-size: 14vw
    }

    #number-start,
    #number-end {
        width: 50px
    }
}

#number-record {
    margin-top: 15px;
    margin-bottom: 25px
}

.is-desktop #number-record {
    display: block
}

#number-record span {
    border-bottom: dashed 1px #b30000;
    color: #b30000;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 10px
}

#number-record span:hover {
    border-bottom: solid 1px transparent
}

@media screen and (max-width:479px) {}

@media screen and (max-width:550px) {}

@media screen and (max-width:479px) {}

@media screen and (max-width:1159px) {}

@media screen and (max-width:1159px) {}

@media screen and (max-width:1159px) {}

@media screen and (max-width:1159px) {}

@media screen and (max-width:400px) {}

@media screen and (max-width:499px) {}

@media screen and (max-width:626px) {}

.rtb-td,
.rtb-bd {
    position: relative;
    z-index: 0
}

.rtb-td {
    margin: 0 auto 20px
}

.rtb-bd {
    margin: 20px auto 0
}

.rtb-td,
.rtb-bd {
    max-width: 728px;
    max-height: 90px;
    min-height: 90px
}

@media screen and (max-width:768px) {}

@media screen and (max-width:1023px) {}

@media screen and (max-width:767px) {}

@media screen and (max-width:353px) {}

@media screen and (max-width:600px) {}

@media screen and (max-width:610px) {}

@keyframes flip {
    0% {
        margin-top: -720px
    }

    9% {
        margin-top: -720px
    }

    10% {
        margin-top: -640px
    }

    19% {
        margin-top: -640px
    }

    20% {
        margin-top: -560px
    }

    29% {
        margin-top: -560px
    }

    30% {
        margin-top: -480px
    }

    39% {
        margin-top: -480px
    }

    40% {
        margin-top: -400px
    }

    49% {
        margin-top: -400px
    }

    50% {
        margin-top: -320px
    }

    59% {
        margin-top: -320px
    }

    60% {
        margin-top: -240px
    }

    69% {
        margin-top: -240px
    }

    70% {
        margin-top: -160px
    }

    79% {
        margin-top: -160px
    }

    80% {
        margin-top: -80px
    }

    89% {
        margin-top: -80px
    }

    90% {
        margin-top: 0px
    }

    99% {
        margin-top: 0px
    }

    99.001% {
        margin-top: -800px
    }

    100% {
        margin-top: -720px
    }
}

@media screen and (max-width:650px) {}

@media screen and (max-width:650px) {}

@media screen and (max-width:900px) {}

@media screen and (max-width:500px) {}

